# SPDX-FileCopyrightText: 2024 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

/.idea/
/Omea/Bin/
/Omea/Obj/
/Omea/Src/Core/MshtmlSite/_MsHtmlSite*
/Omea/Src/Core/MshtmlSite/dlldata.c
/Omea/Src/Core/OmniaMeaBase/Install/InstallationData.cs

*.ncb
*.suo
*.user
