# SPDX-FileCopyrightText: 2024 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

/Bin/
/Obj/
/Src/Core/MshtmlSite/_MsHtmlSite*
/Src/Core/MshtmlSite/dlldata.c
/Src/Core/OmniaMeaBase/Install/InstallationData.cs

.idea/
.vs/
obj/

*.ncb
*.suo
*.user
