<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<omniamea-plugin>
	<actions namespace="JetBrains.Omea.InstantMessaging.Miranda">
		<main-menu>
			<group id="IMRebuildActions" menu="File" anchor="after:FileImportActions">
				<action name="Rebuild Miranda Conversations..." class="RebuildMirandaConversationsAction" />
			</group>
		</main-menu>
		<link-click>
			<action type="MirandaICQAccount" class="MirandaAccountClickAction" />
			<action type="MirandaAIMAccount" class="MirandaAccountClickAction" />
			<action type="MirandaJabberAccount" class="MirandaAccountClickAction" />
			<action type="MirandaYahooAccount" class="MirandaAccountClickAction" />
		</link-click>
	</actions>
	<resource-icons namespace="OmniaMea.InstantMessaging.Miranda.icons">
		<icon type="MirandaICQAccount" name="icq.ico" />
		<icon type="MirandaAIMAccount" name="aim.ico" />
		<icon type="MirandaJabberAccount" name="jabber.ico" />
		<icon type="MirandaYahooAccount" name="yahoo.ico" />
		<icon type="MirandaConversation" name="conversation4.ico" />
	</resource-icons>
</omniamea-plugin>
