<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include StdAfx.wxi ?>
	<Product Id="*" Language="1033" Manufacturer="JetBrains Inc" Name="JetBrains Omea $(var.DynProductVersionMajor).$(var.DynProductVersionMinor)" Version="$(var.DynProductVersionMajor).$(var.DynProductVersionMinor).$(var.DynProductVersionBuild)" UpgradeCode="$(var.OmeaUpgradeCode)">
		<Package Comments="JetBrains Omea $(var.DynProductVersionMajor).$(var.DynProductVersionMinor)" Compressed="yes" Description="JetBrains Omea $(var.DynProductVersionMajor).$(var.DynProductVersionMinor) — The Integrated Information Environment" InstallerVersion="200" InstallPrivileges="elevated" Keywords="email organizer, OM, omea, Omea, information management applications, personal information management, intelligent environments, integrated information environment, PIM, RSS, Atom, aggregator, news aggregator, email overload, managing email overload, searching emails newsgroups RSS feeds documents files" Languages="1033" Manufacturer="JetBrains Inc" Platforms="Intel" ReadOnly="no" ShortNames="no" AdminImage="no" Id="*" SummaryCodepage="1251" />
		<Feature Id="U.Omea.General" Title="Omea" Description="The Omea root." ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="1" TypicalDefault="install">
			<!-- Static subfeatures -->
			<ComponentGroupRef Id="U.Omea.Files" />
			<!-- Mount the dynamically-generated features. -->
			<ComponentGroupRef Id="$(var.DynWixProductBinariesComponentGroupId)" />
			<ComponentGroupRef Id="$(var.DynWixProductReferencesComponentGroupId)" />
			<ComponentGroupRef Id="$(var.DynWixInstallationDataComponentGroupId)" />
			<!-- Special Registry -->
			<ComponentRef Id="C.Registry.InstallDir" />
			<ComponentRef Id="C.Shortcuts.StartMenu" />
		</Feature>
		<!---->
		<!---->
		<!-- Folder Structure. -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder" Name="PMenu">
				<Component Id="C.Shortcuts.StartMenu" Guid="{1AE68573-155C-45ba-9E91-92D7A0B61F2F}" Location="local">
					<Shortcut Id="Sh.Application.StartMenu" Description="Read e-mail, news and rss and bring all your information together" Name="JetBrains Omea" Icon="F.ProductIcon.ico" Target="[#F.ProductBinaries.Omea.exe]" Directory="ProgramMenuFolder" />
					<!-- Just some key path for this shortcut. -->
					<!-- Even though logic suggests that it should be HKMU, ICEs would like to see it HKCU to pass. -->
					<RegistryValue Id="R.Shortcuts.StartMenu" Root="HKCU" Key="SOFTWARE\JetBrains\Omea\KeyPath" Name="AfxSms" Value="239" Type="integer" KeyPath="yes" Action="write" />
				</Component>
			</Directory>
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="D.JetBrains" Name="JetBrains">
					<Directory Id="INSTALLDIR" Name="Omea">
						<!-- Mounting point for the static product/platform binaries. -->
						<Directory Id="D.ProductBinaries.Placeholder" />
						<!-- Mounting point for the dynamic sources output. -->
						<Directory Id="$(var.DynWixDirectoryId)" />
					</Directory>
					<!-- Write the install-dir path. -->
					<Component Id="C.Registry.InstallDir" Guid="{D66D9102-0B22-4534-98B2-61C18920D17A}" Location="local">
						<RegistryValue Id="R.Registry.InstallDir" Root="HKMU" Key="SOFTWARE\JetBrains\Omea" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" Action="write" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<InstallExecuteSequence>
			<!-- Perform the upgrade: uninstall old versions. -->
			<RemoveExistingProducts After="InstallInitialize" />
		</InstallExecuteSequence>
		<Upgrade Id="$(var.OmeaUpgradeCode)">
			<UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="10.0.0" IncludeMaximum="no" IgnoreRemoveFailure="yes" MigrateFeatures="yes" OnlyDetect="no" Property="EXISTINGPRODUCTS">Not NOUPGRADE</UpgradeVersion>
		</Upgrade>
		<Icon Id="F.ProductIcon.ico" SourceFile="Files/ProductIcon.ico" />
		<!-- Simple WiX UI. -->
		<WixVariable Id="WixUILicenseRtf" Value="Files/License.rtf" />
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
		<Media Id="1" Cabinet="General.cab" EmbedCab="yes" DiskPrompt="Main installation files cabinet" />
		<!-- Cabinet for the dynamically-populated product items. -->
		<Media Id="$(var.DynWixProductBinariesDiskId)" Cabinet="ProductBinaries.cab" EmbedCab="yes" DiskPrompt="Product binaries cabinet" />
		<Media Id="$(var.DynWixProductReferencesDiskId)" Cabinet="ProductReferences.cab" EmbedCab="yes" DiskPrompt="Product references cabinet" />
	</Product>
</Wix>
<!-- TODO: fill the product properties related to the listing in add/remove programs -->
<!-- TODO: replace CompanyName and ProductName with macros -->
