<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<omniamea-plugin>
	<actions namespace="JetBrains.Omea.OutlookPlugin">
		<main-menu>
			<group id="FileNewActions">
				<action name="Mail Message" class="NewMessageAction" />
			</group>
			<group id="FileImportActions" menu="File">
				<action name="Index All Email" class="IndexAllEmailAction"></action>
			</group>
			<group id="FileSaveActions" menu="File">
				<action name="Save All Attachments..." class="SaveAllAttachments" />
			</group>
			<group id="SendReceiveActions" menu="Tools" anchor="first">
				<action name="Send/Receive Mail" class="DeliverNowAction" />
			</group>
			<group id="MailOrFolderProcessActions" menu="Actions" anchor="after:ActionStandardActions">
				<action name="Move to Folder..." type="Email" class="MoveMessageToFolderWithDialogAction" />
				<action name="Copy to Folder..." type="Email" class="MoveMessageToFolderWithDialogAction">
					<param type="bool" value="true" />
				</action>
				<action name="Synchronize Outlook Folder Now" class="SynchronizeFolderNow" />
				<action name="Save Attachment As..." class="SaveAttachments" />
			</group>
		</main-menu>
		<popup-menu>
			<group id="ItemOpenActions">
				<action name="Open" type="Email" class="DisplayMessageAction" />
				<action name="Print" type="Email" class="PrintMessageAction" />
				<action name="Open" type="Email" class="OpenAttachmentAction" />
				<action name="Save All Attachments..." class="SaveAllAttachments" />
				<action name="Send By Email..." class="ForwardAllAttachments" />
				<action name="Save to Folder..." class="SaveAttachments" />
				<action name="Save As Text File..." class="SaveToTxtAction" />
				<action name="Open" class="OpenAttachmentAction" />
				<action name="Empty Folder" type="MAPIFolder" class="EmptyDeletedItemsFolderAction" />
				<action name="Unpack resources..." class="UnpackResourcesAction" />
			</group>
			<group id="ItemFindActions">
				<action name="Show Conversation" type="Email" class="JetBrains.Omea.Conversations.ShowConversationAction" assembly="ResourceTools" />
			</group>
			<group id="ItemMailActions">
				<action name="Reply to All" type="Email" class="ReplyAllMessageAction" anchor="after:CompositeAction/Reply" />
			</group>
			<group id="FolderModeActions" anchor="after:ItemModifyActions">
				<action name="Display Threaded" type="MAPIFolder" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchThreadedModeAction">
					<param type="string" value="MAPIFolder" />
				</action>
				<action name="Hide Read Messages" type="MAPIFolder" class="SwitchMAPIFolderUnreadModeAction" />
				<action name="Show Total Items Count" type="MAPIFolder" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ToggleShowTotalCountAction" />
			</group>
			<group id="MailProcessActions" anchor="after:ItemMailActions">
				<action name="New Folder..." type="MAPIFolder" class="CreateFolderAction" />
				<action name="Rename..." type="MAPIFolder" class="RenameFolderAction" />
				<action name="Move to Folder..." type="Email" class="MoveMessageToFolderWithDialogAction" order="7" />
				<action name="Copy to Folder..." type="Email" class="MoveMessageToFolderWithDialogAction" order="8">
					<param type="bool" value="true" />
				</action>
				<action name="Move to Folder..." type="MAPIFolder" class="MoveFolderToFolderWithDialogAction" order="9" />
				<action name="Search in this Folder..." type="MAPIFolder" class="SearchInFolder" />
				<action name="Undelete" type="Email" class="UnDeleteIMAPMessageAction" order="10" />
				<action name="Assign Categories to Mails in the Folder..." type="MAPIFolder" class="CreateCategoryAction" />
				<action name="Synchronize Folder Now" type="MAPIFolder" class="SynchronizeFolderNowAction" />
			</group>
			<group id="PropertiesActions">
				<action type="MAPIFolder" name="Edit Expiration Rule..." class="JetBrains.Omea.GUIControls.EditExpirationRule" assembly="GUIControls" />
				<action type="MAPIFolder" name="Clear Expiration Rule" class="JetBrains.Omea.GUIControls.DeleteExpirationRule" assembly="GUIControls" />
			</group>
		</popup-menu>
		<keyboard>
			<action key="Control+P" type="Email" class="PrintMessageAction" />
			<action key="F9" tab="Email" class="DeliverNowAction" />
			<action key="Control+Shift+R" type="Email" class="ReplyAllMessageAction" />
			<action key="Shift+Delete" type="MAPIFolder" class="DeleteFolderPermanentAction" />
			<action key="Shift+Delete" type="Email" class="DeleteMessagePermanentAction" />
			<action key="Control+Shift+V" type="Email" class="MoveMessageToFolderWithDialogAction" />
			<action key="Control+Shift+M" class="NewMessageAction" />
		</keyboard>
		<toolbar iconprefix="OutlookPlugin.Icons">
			<group id="CommonActions">
				<action icon="unread.ico" tab="Email" text="New" tooltip="New Email" class="NewMessageAction" anchor="first" />
				<action icon="replytoall.ico" tab="Email" type="Email" tooltip="Reply to All" text="Reply to All" anchor="after:CompositeAction/Reply" class="ReplyAllMessageAction" />
			</group>
			<group id="MailActions">
				<action icon="send_receive.ico" tab="Email" tooltip="Send/Receive Mail" text="Send/Receive" class="DeliverNowAction" />
			</group>
		</toolbar>
		<links-pane>
			<action name="Show Conversation" type="Email" class="JetBrains.Omea.Conversations.ShowConversationAction" assembly="ResourceTools" />
			<action name="Save All Attachments..." type="Email" class="SaveAllAttachments" />
		</links-pane>
		<double-click>
			<action type="Email" class="DisplayMessageAction" />
			<action name="Open" class="OpenAttachmentAction" />
		</double-click>
		<composite>
			<component id="ToggleFormatting" type="Email" class="ToggleFormattingAction" />
			<component id="Reply" type="Email" tab="Email" class="ReplyMessageAction" />
			<component id="Forward" type="Email" tab="Email" class="ForwardMessageAction" />
			<component id="Delete" type="Email" tab="Email" class="DeleteMessageAction" />
			<component id="Delete" type="MAPIFolder" tab="Email" class="DeleteFolderAction" />
			<component id="SaveAs" type="Email" class="SaveToMSGAction" />
			<component id="HideRead" class="SwitchMAPIFolderUnreadModeAction" />
			<component id="NewItem" tab="Email" class="NewMessageAction" />
			<component id="NewFolder" tab="Email" class="CreateFolderAction" />
			<component id="DisplayThreaded" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchThreadedModeAction">
				<param type="string" value="MAPIFolder" />
			</component>
			<component id="MarkAllRead" type="MAPIFolder" class="MarkAllAsReadAction" />
		</composite>
	</actions>
	<resource-icons namespace="OutlookPlugin.Icons">
		<icons type="Email">
			<icon name="meetrequest_unread.ico">
				<prop name="ContainerClass" value="IPM.Schedule.Meeting.Request" />
				<hasprop name="IsUnread" />
			</icon>
			<icon name="meetrequest.ico">
				<prop name="ContainerClass" value="IPM.Schedule.Meeting.Request" />
			</icon>
			<icon name="Deleted.ico">
				<hasprop name="IsDeleted" />
			</icon>
			<icon name="read.ico" default="1" />
			<icon name="unread.ico">
				<hasprop name="IsUnread" />
			</icon>
			<icon name="emb_message.ico">
				<hasprop name="EmbeddedMessage" />
			</icon>
		</icons>
		<icons type="EmailFile">
			<icon name="read.ico" />
		</icons>
		<icons type="MailingList">
			<icon name="MailingList.ico" />
		</icons>
		<icons type="MAPIInfoStore">
			<icon name="InfoStore.ico" />
		</icons>
	</resource-icons>
	<display-columns>
		<columns type="Email">
			<column width="300" autoSize="1">
				<prop name="Subject" />
				<!--        <prop name="DisplayName"/> -->
				<multiline row="1" startX="0" width="240" anchor="both" />
				<comparer assembly="ResourceTools" class="JetBrains.Omea.ResourceTools.SubjectComparer" />
			</column>
			<column width="14" fixedSize="1">
				<prop name="Importance" />
				<multiline row="1" startX="246" width="14" anchor="right" hideIfNoProp="1" />
			</column>
			<column width="100">
				<prop name="From" />
				<multiline row="0" startX="0" width="196" r="112" g="112" b="112" anchor="both" />
			</column>
			<column width="100">
				<prop name="To" />
			</column>
			<column width="120">
				<prop name="Date" />
				<multiline row="0" startX="210" width="90" anchor="right" align="right" />
			</column>
			<column width="14" fixedSize="1">
				<prop name="-Attachment" />
				<prop name="InternalAttachment" />
				<comparer assembly="Outlook.OmeaPlugin" class="JetBrains.Omea.OutlookPlugin.AttachmentComparer" />
				<multiline row="0" startX="196" width="14" anchor="right" hideIfNoProp="1" />
				<sortmenutext asc="None on top" desc="With on top" />
			</column>
		</columns>
	</display-columns>
</omniamea-plugin>
