<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<omniamea-plugin>
	<actions namespace="JetBrains.Omea">
		<actiondef id="AssignCategories" class="JetBrains.Omea.Categories.EditCategoriesAction">
			<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
		</actiondef>
		<actiondef id="AddLink" class="AddLinkAction">
			<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
		</actiondef>
		<actiondef id="AddToWorkspace" class="JetBrains.Omea.Workspaces.AddToWorkspaceAction" />
		<actiondef id="BasicSearch" class="BasicSearchAction">
			<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.TextIndexPresentFilter" />
		</actiondef>
		<actiondef id="Refresh" class="CompositeAction">
			<param type="string" value="Refresh" />
		</actiondef>
		<actiondef id="MarkAsRead" class="CompositeAction">
			<param type="string" value="MarkAsRead" />
		</actiondef>
		<actiondef id="MarkAsUnread" class="CompositeAction">
			<param type="string" value="MarkAsUnread" />
		</actiondef>
		<actiondef id="MarkAllRead" class="CompositeAction">
			<param type="string" value="MarkAllRead" />
		</actiondef>
		<actiondef id="NewFolder" class="CompositeAction">
			<param type="string" value="NewFolder" />
		</actiondef>
		<actiondef id="Cut" class="DisplayPaneAction">
			<param type="string" value="Cut" />
		</actiondef>
		<actiondef id="Copy" class="CopyAction" />
		<actiondef id="Paste" class="DisplayPaneAction">
			<param type="string" value="Paste" />
		</actiondef>
		<actiondef id="Rename" class="JetBrains.Omea.GUIControls.RenameAction" assembly="GUIControls" />
		<actiondef id="NextWorkspace" class="JetBrains.Omea.Workspaces.NextWorkspaceAction" />
		<actiondef id="PrevWorkspace" class="JetBrains.Omea.Workspaces.PrevWorkspaceAction" />
		<actiondef id="ResetUserOrderAction" assembly="ResourceTools" class="JetBrains.Omea.ResourceTools.ResetUserOrderAction" />
		<main-menu>
			<group id="FileNewActions" menu="File" submenu="New" anchor="first">
				<action name="Folder" ref="NewFolder" anchor="last" />
			</group>
			<group id="FileNewCoreActions" menu="File" submenu="New" anchor="after:FileNewActions">
				<action name="Category..." class="JetBrains.Omea.Categories.NewCategoryAction" />
				<action name="View..." class="JetBrains.Omea.GUIControls.NewViewAction" assembly="GUIControls" />
				<action name="View Folder..." class="JetBrains.Omea.GUIControls.NewViewFolderAction" assembly="GUIControls" />
				<action name="Action Rule..." class="JetBrains.Omea.GUIControls.NewRuleAction" assembly="GUIControls" />
				<action name="Font and Color Rule..." class="JetBrains.Omea.GUIControls.NewFormattingRuleAction" assembly="GUIControls" />
				<action name="Tray Icon Rule..." class="JetBrains.Omea.GUIControls.NewTrayIconRuleAction" assembly="GUIControls" />
			</group>
			<group id="FileSaveActions" menu="File">
				<action name="Save As..." class="CompositeAction">
					<param type="string" value="SaveAs" />
				</action>
			</group>
			<group id="FileImportActions" menu="File">
				<action name="&amp;Export Resources as List..." class="ExportResourceListAction" anchor="first" />
			</group>
			<group id="FileSendActions" menu="File">
				<action name="Send by Mail" class="CompositeAction">
					<param type="string" value="SendByMail" />
				</action>
			</group>
			<group id="FilePrintActions" menu="File">
				<action name="&amp;Print..." class="DisplayPaneAction" icon="OmniaMea.Icons.print.ico">
					<param type="string" value="Print" />
				</action>
			</group>
			<group id="FileExitActions" menu="File">
				<action name="E&amp;xit" class="ExitAction" />
			</group>
			<group id="ViewPaneActions" menu="View" anchor="after:ViewViewpaneActions">
				<action name="Left Sidebar" class="ShowHideLeftSidebarAction" />
				<action name="Right Sidebar" class="ShowHideRightSidebarAction" />
				<action name="Resource List" class="ShowHideResourceListAction" />
				<action name="Links Pane" class="ShowHideLinksPaneAction" />
				<action name="Shortcut Bar" class="ShowHideShortcutBarAction" />
				<action name="Workspace Bar" class="ShowHideWorkspaceBarAction" />
			</group>
			<group id="ViewFullModeActions" menu="View">
				<action name="Full-Message View" class="ToggleFullMessageViewAction" />
			</group>
			<group id="ViewRefreshActions" menu="View">
				<action name="Refresh" ref="Refresh" />
			</group>
			<group id="ViewModeActions" menu="View">
				<action name="Hide Read Messages" class="CompositeAction">
					<param type="string" value="HideRead" />
				</action>
				<action name="Display Threaded" class="CompositeAction">
					<param type="string" value="DisplayThreaded" />
				</action>
			</group>
			<group id="PreviewPaneActions" menu="View" submenu="Preview Pane">
				<action name="Right" class="ToggleVerticalLayoutAction">
					<param type="bool" value="true" />
				</action>
				<action name="Bottom" class="ToggleVerticalLayoutAction">
					<param type="bool" value="false" />
				</action>
				<action name="Without List" class="ToggleWebPageModeAction" />
			</group>
			<group id="AutoPreviewActions" menu="View" submenu="AutoPreview">
				<action name="Off" class="ToggleAutoPreviewAction">
					<param type="int" value="0" />
				</action>
				<action name="All Items" class="ToggleAutoPreviewAction">
					<param type="int" value="1" />
				</action>
				<action name="Unread Items" class="ToggleAutoPreviewAction">
					<param type="int" value="2" />
				</action>
			</group>
			<group id="ViewGroupActions" menu="View">
				<action name="Expand All Threads" class="SetAllThreadsExpandedAction">
					<param type="bool" value="true" />
				</action>
				<action name="Show Items in Groups" class="ToggleGroupsAction" />
				<action name="Expand All Groups" class="SetAllGroupsExpandedAction">
					<param type="bool" value="true" />
				</action>
				<action name="Collapse All Groups" class="SetAllGroupsExpandedAction">
					<param type="bool" value="false" />
				</action>
			</group>
			<group id="ViewConfigureActions" menu="View">
				<action name="Configure Columns..." class="ConfigureColumnsAction" />
			</group>
			<group id="ViewAnnotationsAcions" menu="View">
				<action name="View &amp;Annotations" class="ViewAnnotationsAction" />
			</group>
			<group id="ViewResourceClipboard" menu="View">
				<action name="Resource Clipboard" class="ShowResourceClipboardAction" />
			</group>
			<group id="ViewUserOrderActions" menu="View">
				<action name="Reset sort order" ref="ResetUserOrderAction" />
			</group>
			<group id="EditClipboardActions" menu="Edit">
				<action name="Cu&amp;t" ref="Cut" />
				<action name="&amp;Copy" ref="Copy" />
				<action name="&amp;Paste" ref="Paste" />
			</group>
			<group id="EditDeleteActions" menu="Edit">
				<action name="Delete" class="CompositeAction" icon="OmniaMea.Icons.delete.ico">
					<param type="string" value="Delete" />
				</action>
			</group>
			<group id="EditSelectActions" menu="Edit">
				<action name="Select All" class="DisplayPaneAction">
					<param type="string" value="SelectAll" />
				</action>
			</group>
			<group id="EditRenameAction" menu="Edit">
				<action name="Rename" ref="Rename" />
			</group>
			<group id="EditReadActions" menu="Edit" anchor="after:EditSelectActions">
				<action name="Mark as Read" ref="MarkAsRead" />
				<action name="Mark as Unread" ref="MarkAsUnread" />
				<action name="Mark All as Read" ref="MarkAllRead" />
				<action name="Mark Conversation as Read" class="MarkConversationAsRead" />
			</group>
			<group id="EditCategoryActions" menu="Edit">
				<action name="Assign C&amp;ategories..." icon="OmniaMea.Icons.categories.ico" ref="AssignCategories" />
			</group>
			<group id="EditPropertiesActions" menu="Edit">
				<action name="Properties..." class="CompositeAction">
					<param type="string" value="Properties" />
				</action>
				<action name="Edit Custom Properties..." class="EditCustomPropertiesAction">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
				</action>
			</group>
			<group id="SearchActions" menu="Search">
				<action name="Basic Search" ref="BasicSearch" icon="OmniaMea.Icons.search.ico" />
				<action name="Advanced Search..." class="AdvancedSearchAction">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.TextIndexPresentFilter" />
				</action>
				<action name="&amp;Find in Resource..." class="DisplayPaneAction">
					<param type="string" value="FindInPage" />
				</action>
			</group>
			<group id="SearchResultActions" menu="Search">
				<action name="Next Search Result" class="DisplayPaneAction">
					<param type="string" value="NextSearchResult" />
				</action>
				<action name="Previous Search Result" class="DisplayPaneAction">
					<param type="string" value="PrevSearchResult" />
				</action>
			</group>
			<group id="GoBackForward" menu="Go">
				<action name="&amp;Back" class="BackAction" />
				<action name="&amp;Forward" class="ForwardAction" />
			</group>
			<group id="GoMessageActions" menu="Go">
				<action name="Next Unread Message" class="GotoNextUnreadAction" />
			</group>
			<group id="ActionStandardActions">
				<action name="Reply" class="CompositeAction">
					<param type="string" value="Reply" />
				</action>
				<action name="Forward" class="CompositeAction">
					<param type="string" value="Forward" />
				</action>
				<action name="Toggle Formatting" class="CompositeAction">
					<param type="string" value="ToggleFormatting" />
				</action>
			</group>
			<group id="LinkActions" menu="Actions">
				<action name="Add Link..." ref="AddLink" />
				<action name="Add to Workspace..." ref="AddToWorkspace" />
			</group>
			<group id="ActionAnnotationsActions" menu="Actions">
				<action name="A&amp;nnotate Resource" class="AnnotateResourceAction" icon="OmniaMea.Icons.annotation.ico">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
				</action>
				<action name="&amp;Delete Annotation" class="DeleteAnnotationAction" />
				<action name="Add to Shortcuts" class="AddToShortcutsAction" />
				<action name="Create Clipping from Selection..." class="CreateFragmentAction" />
			</group>
			<group id="ApplyRulesActions" menu="Actions">
				<action name="Notify Me..." class="NotifyMeAction" />
				<action name="Apply Rules..." class="JetBrains.Omea.GUIControls.ApplyRulesToAction" assembly="GUIControls" />
			</group>
			<group id="TextIndexActions" menu="Actions">
				<action name="Pause Text Indexing" class="StopResumeTextIndexingAction" />
				<action name="Synchronize resources in text index..." class="IndexUnindexedResourcesAction">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.TextIndexPresentFilter" />
				</action>
			</group>
			<group id="ToolsOptionsActions">
				<action name="&amp;Options..." class="OptionsDialogAction" />
			</group>
			<group id="ViewsRulesActions" menu="Tools" anchor="before:ToolsOptionsActions">
				<action name="Manage Views..." class="JetBrains.Omea.GUIControls.ViewsManagerAction" assembly="GUIControls" icon="OmniaMea.Icons.view.new.ico" />
				<action name="Restore Default Views" class="RestoreDefaultViewsAction" />
			</group>
			<group id="RulesManagerCoreActions" menu="Tools" submenu="Manage Rules" anchor="after:ViewsRulesActions" keepwith="ViewsRulesActions">
				<action name="Action Rules..." class="JetBrains.Omea.GUIControls.EditRulesAction" assembly="GUIControls" />
				<action name="Font and Color Rules..." class="JetBrains.Omea.GUIControls.EditFormattingRulesAction" assembly="GUIControls" />
				<action name="Tray Icon Rules..." class="JetBrains.Omea.GUIControls.EditTrayIconRulesAction" assembly="GUIControls" />
				<action name="Auto Expiration Rules..." class="JetBrains.Omea.GUIControls.EditExpirationRulesAction" assembly="GUIControls" />
			</group>
			<group id="ToolsShortcutsActions" menu="Tools" anchor="before:ToolsOptionsActions">
				<action name="Organize Shortcuts..." class="OrganizeShortcutsAction" />
			</group>
			<group id="ToolsCustomActions" menu="Tools" anchor="before:ToolsOptionsActions">
				<action name="Configure Custom Property Types..." class="ConfigurePropTypesAction" />
			</group>
			<group id="WorkspaceConfigureActions" menu="Workspaces">
				<action name="Add/Edit Workspaces..." class="JetBrains.Omea.Workspaces.WorkspacesDialogAction" icon="OmniaMea.Icons.Workspaces.Organize.Normal.ico" />
				<action name="Next Workspace" ref="NextWorkspace" />
				<action name="Previous Workspace" ref="PrevWorkspace" />
			</group>
			<group id="WorkspaceSelectActions" menu="Workspaces" />
			<group id="HelpActions" menu="Help">
				<action name="Help Contents" class="ShowHelpContentsAction" />
				<action name="Keyboard Shortcuts" class="ShowKeyboardShortcutsAction" />
			</group>
			<group id="HelpWebsiteActions" menu="Help">
				<action name="Check for Updates" class="CheckForUpdatesAction" />
			</group>
			<group id="HelpAboutActions" menu="Help">
				<action name="About Omea..." class="ShowAboutBoxAction" />
			</group>
		</main-menu>
		<popup-menu>
			<group id="BrowseActions">
				<action name="Back" class="IEBrowserAction">
					<param type="string" value="Back" />
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.NoSelectedResourceFilter" />
				</action>
				<action name="Forward" class="IEBrowserAction">
					<param type="string" value="Forward" />
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.NoSelectedResourceFilter" />
				</action>
			</group>
			<group id="ItemOpenActions">
				<action name="Open in New Window" class="OpenNewBrowserAction" />
				<action name="Refresh" ref="Refresh" />
				<action name="Copy" ref="Copy" />
				<action name="Open..." type="Fragment" class="EditFragmentAction" />
				<action name="Save to File..." type="Fragment" class="SaveFragmentAction" />
				<action name="Send by Mail" type="Fragment" class="EmailFragmentAction" />
				<action name="Create Clipping" class="CreateFragmentAction" />
				<action name="Search Selected Text" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SearchSelectedAction" />
				<action name="New Category..." class="JetBrains.Omea.Categories.NewCategoryAction" />
				<action name="Rename Category" type="Category" ref="Rename" />
				<action name="Change Icon..." type="Category" class="JetBrains.Omea.Categories.ChangeCategoryIconAction" />
			</group>
			<group id="ItemMailActions" anchor="after:ItemOpenActions">
				<action name="Reply" class="CompositeAction">
					<param type="string" value="Reply" />
				</action>
				<action name="Forward" class="CompositeAction">
					<param type="string" value="Forward" />
				</action>
			</group>
			<group id="ItemFindActions">
				<action name="Show Correspondence" type="Contact" class="ShowCorrespondenceAction" />
				<action name="Show Correspondence" type="ContactName" class="ShowCorrespondenceAction" />
			</group>
			<group id="ItemModifyActions">
				<action name="Mark as Read" ref="MarkAsRead" />
				<action name="Mark as Unread" ref="MarkAsUnread" />
				<action name="Mark Conversation as Read" class="MarkConversationAsRead" />
				<action name="Assign Categories..." icon="OmniaMea.Icons.categories.ico" ref="AssignCategories" />
				<action name="Add Link..." ref="AddLink" />
				<action name="Add to Workspace..." ref="AddToWorkspace" />
				<action type="Workspace" name="Remove from Workspace" class="JetBrains.Omea.Workspaces.RemoveFromWorkspaceAction" />
				<action name="Edit Custom Properties..." class="EditCustomPropertiesAction">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
				</action>
				<action type="Category" name="Remove from Category" class="JetBrains.Omea.Categories.RemoveFromCategoryAction" />
				<action type="Category" name="Show Contents of Subcategories" class="JetBrains.Omea.Categories.ToggleCategoryContentsRecurseAction" />
				<action name="Notify Me..." class="NotifyMeAction" />
				<action name="Notify Me..." class="NotifyMeOnContactNameAction" />
				<action name="Edit View..." type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.EditViewOrRefineSearchAction" />
				<action name="Copy View" type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.CopyViewAction" />
				<action name="Convert to View..." type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ConvertSearch2ViewAction" />
				<action name="Create Action Rule from View..." type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ConvertView2RuleAction" />
				<action name="New View..." assembly="GUIControls" class="JetBrains.Omea.GUIControls.NewViewAction" />
				<action name="New View Folder..." assembly="GUIControls" class="JetBrains.Omea.GUIControls.NewViewFolderAction" />
				<action name="Mark All as Read" ref="MarkAllRead" />
				<action name="Reset sort order" ref="ResetUserOrderAction" />
			</group>
			<group id="SearchViewModeActions" anchor="after:ItemModifyActions">
				<action name="Display Threaded" type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchThreadedModeAction">
					<param type="string" value="SearchView" />
				</action>
				<action name="Display Threaded" type="Category" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchThreadedModeAction">
					<param type="string" value="Category" />
				</action>
				<action name="Hide Read Messages" type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchUnreadModeAction">
					<param type="string" value="SearchView" />
				</action>
				<action name="Hide Read Messages" type="Category" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchUnreadModeAction">
					<param type="string" value="Category" />
				</action>
				<action type="SearchView" name="Show Deleted Resources" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ShowDeletedResourcesAction" />
				<action type="Category" name="Show Total Items Count" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ToggleShowTotalCountAction" />
			</group>
			<group id="ItemSendActions" anchor="after:ItemModifyActions">
				<action name="Send Resources..." class="SendResourcesAction" />
				<action name="Send Resources..." class="SendResourceNameAction" />
			</group>
			<group id="ItemAnnotateActions" anchor="after:ItemModifyActions">
				<action name="Annotate Resource" class="AnnotateResourceAction" icon="OmniaMea.Icons.annotation.ico">
					<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
				</action>
				<action name="Delete Annotation" class="DeleteAnnotationAction" />
			</group>
			<group id="ItemDeleteActions" order="last">
				<action name="Delete" class="CompositeAction" icon="OmniaMea.Icons.delete.ico">
					<param type="string" value="Delete" />
				</action>
				<action name="Undelete" class="UndeleteAction" />
				<action name="Remove from Clipboard" class="RemoveFromClipboardAction" />
				<action name="Delete Link" class="DeleteCustomLinkAction" />
				<action type="SearchView" name="Empty Deleted Resources" assembly="GUIControls" class="JetBrains.Omea.GUIControls.ClearDeletedItemsViewAction" />
			</group>
		</popup-menu>
		<toolbar iconprefix="OmniaMea.Icons">
			<group id="BrowseActions">
				<action icon="back.ico" tooltip="Back" class="BackAction" />
				<action icon="forward.ico" tooltip="Forward" class="ForwardAction" />
			</group>
			<group id="CommonActions">
				<action icon="delete.ico" tooltip="Delete" class="CompositeAction">
					<param type="string" value="Delete" />
				</action>
				<action icon="categories.ico" tooltip="Assign a Category to Selected Resource(s)" ref="AssignCategories" />
				<action icon="reply.ico" tooltip="Reply" text="Reply" class="CompositeAction">
					<param type="string" value="Reply" />
				</action>
				<action icon="MailForward.ico" tooltip="Forward" text="Forward" class="CompositeAction">
					<param type="string" value="Forward" />
				</action>
			</group>
			<group id="ViewNavigatingActions">
				<action icon="MoveDown.ico" tooltip="Show Next Item In List" class="MoveNext" />
				<action icon="MoveUp.ico" tooltip="Show Previous Item In List" class="MovePrev" />
			</group>
			<group id="ViewGroupsActions">
				<action icon="groupping.ico" tooltip="Show Items in Groups" class="ToggleGroupsAction" />
				<action icon="collapsegroups.ico" tooltip="Expand All Groups" class="SetAllGroupsExpandedAction">
					<param type="bool" value="true" />
				</action>
				<action icon="expandgroups.ico" tooltip="Collapse All Groups" class="SetAllGroupsExpandedAction">
					<param type="bool" value="false" />
				</action>
			</group>
			<group id="ViewActions">
				<action icon="previewbottom.ico" tooltip="Preview Pane at Bottom" class="ToggleVerticalLayoutToolbarAction">
					<param type="bool" value="false" />
				</action>
				<action icon="previewright.ico" tooltip="Preview Pane at Right" class="ToggleVerticalLayoutToolbarAction">
					<param type="bool" value="true" />
				</action>
				<action icon="previewno.ico" tooltip="Preview Pane Without List" class="ToggleWebPageModeAction" />
        <action icon="twopanes.ico" tooltip="Resource List without Preview Pane" class="ToggleListOnlyModeAction" />
      </group>
		</toolbar>
		<keyboard>
			<action key="Alt+Left" class="BackAction" />
			<action key="Alt+Right" class="ForwardAction" />
			<action key="Control+E" ref="BasicSearch" />
			<action key="Control+F" class="DisplayPaneAction">
				<param type="string" value="FindInPage" />
			</action>
			<action key="Control+X" ref="Cut" />
			<action key="Shift+Delete" ref="Cut" />
			<action key="Control+C" ref="Copy" />
			<action key="Control+Insert" ref="Copy" />
			<action key="Control+V" ref="Paste" />
			<action key="Shift+Insert" ref="Paste" />
			<action key="Control+U" class="GotoNextUnreadAction">
				<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.MainWindowFilter" />
			</action>
			<action key="Control+P" class="ToggleGroupsAction" />
			<action key="Control+Q" ref="MarkAsRead" />
			<action key="Control+Shift+Q" class="MarkConversationAsRead" />
			<action key="Control+N" class="CompositeAction">
				<param type="string" value="NewItem" />
			</action>
			<action key="Control+R" class="CompositeAction">
				<param type="string" value="Reply" />
			</action>
			<action key="Control+Shift+F" class="CompositeAction">
				<param type="string" value="Forward" />
			</action>
			<action key="Delete" class="CompositeAction">
				<param type="string" value="Delete" />
			</action>
			<action key="Shift+Delete" class="CompositeAction">
				<param type="string" value="Delete" />
			</action>
			<action key="Control+A" class="DisplayPaneAction">
				<param type="string" value="SelectAll" />
			</action>
			<action key="Control+Alt+A" class="ViewAnnotationsAction" />
			<action key="Alt+F1" class="ShowHideLeftSidebarAction" />
      <action key="Alt+F12" class="ShowHideShortcutBarAction" />
      <action key="Enter" class="FocusResourceBrowserAction" />
			<action key="Control+Y" ref="AssignCategories" />
			<action key="Control+Tab" ref="NextWorkspace" />
			<action key="Control+Shift+Tab" ref="PrevWorkspace" />
			<action key="Control+Shift+A" ref="MarkAllRead" />
			<action key="Control+S" class="CompositeAction">
				<param type="string" value="SaveAs" />
			</action>
			<action key="F11" class="ToggleFullMessageViewAction" />
			<action key="Control+F1" class="ShowHelpContentsAction" />
			<action key="F5" ref="Refresh" />
			<action key="F2" ref="Rename" />
			<action key="Escape" class="PopFocusAction" />
			<action key="F3" class="DisplayPaneAction">
				<param type="string" value="NextSearchResult" />
			</action>
			<action key="Shift+F3" class="DisplayPaneAction">
				<param type="string" value="PrevSearchResult" />
			</action>
		</keyboard>
		<links-pane>
			<action type="Fragment" name="Save to File..." class="SaveFragmentAction" />
			<action type="Fragment" name="Send by Mail" class="EmailFragmentAction" />
			<action name="Annotate Resource" class="AnnotateResourceAction">
				<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
			</action>
			<action name="Add Link..." ref="AddLink" />
			<action name="Add to Workspace..." ref="AddToWorkspace" />
			<action name="Edit Custom Properties..." class="EditCustomPropertiesAction">
				<filter assembly="GUIControls" class="JetBrains.Omea.GUIControls.InternalResourceFilter" />
			</action>
		</links-pane>
		<link-click>
			<action type="Category" class="ShowInDefaultPaneAction" />
			<action type="SearchView" class="ShowInDefaultPaneAction" />
			<action type="Workspace" class="JetBrains.Omea.Workspaces.WorkspaceLinkClickAction" />
		</link-click>
		<double-click>
			<action type="Fragment" class="EditFragmentAction" />
			<action type="SearchView" class="JetBrains.Omea.GUIControls.EditViewOrRefineSearchAction" assembly="GUIControls" />
		</double-click>
		<urlbar iconprefix="OmniaMea.Icons">
			<group id="BackForwardActions">
				<action icon="back.ico" tooltip="Back" class="BackAction" />
				<action icon="forward.ico" tooltip="Forward" class="ForwardAction" />
			</group>
			<group id="URLBarActions">
				<action icon="NewWindow.ico" tooltip="Open in New Window" class="OpenNewBrowserAction" />
				<action icon="refresh.ico" tooltip="Refresh" ref="Refresh" />
				<action icon="fragment2.ico" tooltip="Create Clipping from Selection" class="CreateFragmentAction" />
			</group>
		</urlbar>
		<composite>
			<component id="Delete" class="GenericDeleteAction" />
			<component id="Delete" type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.DeleteViewAction" />
			<component id="Delete" type="ViewFolder" assembly="GUIControls" class="JetBrains.Omea.GUIControls.DeleteViewFolderAction" />
			<component id="Delete" type="Category" class="JetBrains.Omea.Categories.DeleteCategoryAction" />
			<component id="SendByMail" type="Fragment" class="EmailFragmentAction" />
			<component id="SendByMail" class="SendResourcesAction" />
			<component id="SaveAs" type="Fragment" class="SaveFragmentAction" />
			<component id="HideRead" name="Hide Read Messages" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchUnreadModeAction">
				<param type="string" value="SearchView" />
			</component>
			<component id="DisplayThreaded" assembly="GUIControls" class="JetBrains.Omea.GUIControls.SwitchThreadedModeAction">
				<param type="string" value="SearchView" />
			</component>
			<component id="MarkAsRead" class="MarkAsReadAction">
				<param type="bool" value="false" />
			</component>
			<component id="MarkAsUnread" class="MarkAsReadAction">
				<param type="bool" value="true" />
			</component>
			<component id="Refresh" assembly="GUIControls" class="JetBrains.Omea.GUIControls.RefreshViewAction" />
			<component id="MarkAllRead" type="SearchView" assembly="GUIControls" class="JetBrains.Omea.GUIControls.MarkAllReadAction" />
			<component id="MarkAllRead" type="Category" class="JetBrains.Omea.Categories.MarkCategoryAsReadAction" />
		</composite>
	</actions>
	<resource-icons namespace="OmniaMea.Icons">
		<icons type="Folder">
			<icon name="FolderClosed.ico" />
			<icon name="FolderOpen.ico">
				<prop name="Open" value="1" />
			</icon>
		</icons>
		<icons type="ResourceTreeRoot">
			<icon name="FolderClosed.ico" />
			<icon name="FolderOpen.ico">
				<prop name="Open" value="1" />
			</icon>
		</icons>
		<icons type="ViewFolder">
			<icon name="FolderClosed.ico" />
			<icon name="FolderOpen.ico">
				<prop name="Open" value="1" />
			</icon>
		</icons>
		<icons type="ConditionGroup">
			<icon name="FolderClosed.ico" />
			<icon name="FolderOpen.ico">
				<prop name="Open" value="1" />
			</icon>
		</icons>
		<icon type="SearchCondition" name="SearchCriterion.ico" />
		<icon type="ConditionTemplate" name="SearchCriterion.ico" />
		<icon type="Workspace" name="workspace.ico" />
		<icon type="WorkspaceOtherView" name="WorkspaceOtherView.ico" />
		<icon type="FilterRule" name="rule.ico" />
		<icon type="RuleAction" name="action.ico" />
		<icon type="RuleActionTemplate" name="action.ico" />
		<icon type="Fragment" name="fragment.ico" />
		<icon type="EmailAccount" name="e-mail_account.ico" />
		<icon type="TransientContainer" name="FolderClosed.ico" />
	</resource-icons>
</omniamea-plugin>
