<?xml version="1.0" encoding="utf-8"?>
<!--
  <copyright company="JetBrains">
  Copyright © 2003-2008 JetBrains s.r.o.
  You may distribute under the terms of the GNU General Public License, as published by the Free Software Foundation, version 2 (see License.txt in the repository root folder).
  </copyright>
-->
<omniamea-plugin>
	<actions namespace="JetBrains.Omea.Tasks">
		<main-menu>
			<group id="FileNewActions">
				<action name="Task..." class="NewTaskAction" />
			</group>
			<group id="ViewViewpaneActions" menu="View" submenu="Panes" anchor="last">
				<action name="To Do Pane" class="ShowHideTodoAction" />
			</group>
			<group id="ViewModeActions" menu="View">
				<action name="View Completed Tasks" class="ViewCompletedTasksActions" />
			</group>
		</main-menu>
		<popup-menu>
			<group id="ItemOpenActions">
				<action name="Open" type="Task" class="OpenTaskAction" anchor="first" />
			</group>
			<group id="ItemModifyActions">
				<action name="Mark Completed" anchor="first" class="MarkTasksCompletedAction" />
				<action name="Remove from Task" anchor="last" class="DeAttachResourcesFromTaskInPane" />
				<action name="New Task..." anchor="last" class="NewTaskAction" />
				<action name="Clone Task..." anchor="last" class="CloneTaskAction" />
			</group>
		</popup-menu>
		<keyboard>
			<action key="Delete" class="DeAttachResourcesFromTaskInPane" />
			<action key="Control+T" class="NewTaskAction" />
			<action key="Control+K" class="MarkTasksCompletedAction" />
		</keyboard>
		<double-click>
			<action type="Task" class="OpenTaskAction" />
		</double-click>
		<toolbar>
			<group id="CommonActions">
				<action icon="Tasks.Icons.Task.ico" anchor="first" tab="Tasks" tooltip="New Task" text="New" class="NewTaskAction" />
			</group>
		</toolbar>
		<composite>
			<component id="NewItem" tab="Tasks" class="NewTaskAction" />
		</composite>
		<links-pane>
			<action name="New Task..." class="NewTaskAction" />
		</links-pane>
	</actions>
	<resource-icons namespace="Tasks.Icons">
		<icons type="Task">
			<icon name="DeletedTask.ico">
				<hasprop name="IsDeleted" />
			</icon>
			<icon name="SuperTask.ico">
				<hasinlink name="SuperTask" />
			</icon>
			<icon name="Task.ico" />
			<icon name="task_high.ico">
				<prop name="Priority" value="1" />
			</icon>
			<icon name="task_low.ico">
				<prop name="Priority" value="2" />
			</icon>
		</icons>
	</resource-icons>
	<display-columns>
		<columns type="Task">
			<column width="14" fixedSize="1">
				<prop name="Priority" />
				<comparer assembly="Tasks" class="JetBrains.Omea.Tasks.TasksComparerByPriority" />
				<multiline row="1" startX="80" width="14" anchor="right" align="right" />
			</column>
			<column width="300" autoSize="1">
				<prop name="Subject" />
				<multiline row="0" startX="0" width="100" anchor="both" />
			</column>
			<column width="120">
				<prop name="Date" />
				<multiline row="0" startX="100" width="100" anchor="right" align="right" />
			</column>
			<column width="20" fixedSize="1">
				<prop name="Status" />
				<multiline row="1" startX="90" width="20" anchor="right" align="right" />
			</column>
			<column width="120" showIfNotEmpty="1">
				<prop name="CompletedDate" />
			</column>
		</columns>
	</display-columns>
</omniamea-plugin>