<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<omniamea-plugin>
	<resource-icons namespace="ExcelDocPlugin">
		<icons type="MSExcelFile">
			<icon name="Excel.ico" />
		</icons>
	</resource-icons>
</omniamea-plugin>
