/*
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
*/

/*
body, table, td
{
	font-family: <%= Font.Face %>;
	font-size: <%= Font.Size %>;
	text-align: justify;
	background-color: <%= Color.Background %>;
	color: <%= Color.Text %>;
}
*/
body
{
	margin: 0px;
	padding: 0px;
	font: 90% verdana, tahoma, arial, trebuchet ms;
}
body div
{
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
}
h1
{
	font-family: <%= Font.Heading1Face %>;
	font-weight: bold;
	font-size: <%= Font.Heading1Size %>;
	text-align: center;
}
h2
{
	font-family: <%= Font.Heading2Face %>;
	font-weight: bold;
	font-size: <%= Font.Heading2Size %>;
}
div.NewspaperItem
{
	margin: 0px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 9px;
	border-bottom: solid 1px <%=Color.NormalBorder%>;
}
div.NewspaperItem-Deleted
{
	margin: 0px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 9px;
	border-bottom: solid 1px <%=Color.NormalBorder%>;
	background-color: <%= Color.DeletedItemBackground %>;
}
div.NewspaperItem-Unread
{
	margin: 0px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 9px;
	border-bottom: solid 1px <%=Color.NormalBorder%>;
	background-color: <%= Color.UnreadItemBackground %>;
}
div.NewspaperItem-Selected
{
	margin: 0px;
	padding-left: 13px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	border: solid 2px <%=Color.SelectedItemBorder%>;
}
div.NewspaperItem-Unread-Selected
{
	margin: 0px;
	padding-left: 13px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	border: solid 2px <%=Color.SelectedItemBorder%>;
	background-color: <%= Color.UnreadItemBackground %>;
}
p.NoItemsBanner
{
	font-family: Tahoma;
	font-size: 8pt;
	text-align: center;
	margin-top: 14pt;
}
br.clear
{
	clear: both;
}
img.ResourceIcon
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
img.Flag
{
	border: 0px;
	padding: 0px; /*margin: 3px 3px 3px 3px;*/ /*margin: 19px 0px 0 10px; 	padding: 0;*/
}
table.Caption
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 13px;
}
td.Title
{
	margin: 0px;
	padding: 0px;
	text-align: left;
}
p.Subject
{
	padding: 0px;
	margin: 0px;
	font: bold 100% arial, tahoma, verdana, trebuchet ms;
}
p.Origin
{
	padding: 0px;
	margin-top: 0px;
	font: italic 80% tahoma, verdana, arial, trebuchet ms;
}
/*
form
{
	margin: 0;
	padding: 0;
}
form fieldset
{
	float: right;
	margin-top: 13px;
	padding: 0;
	border: 0;
}
form textarea
{
	margin-left: 5px;
	padding: 1px 0px 2px 3px;
	background-color: #FEFDDF;
	border: solid 1px #EFEEC2;
	overflow: auto;
	width: 444px;
	height: 33px;
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #6F6F6F;
}
*/
td.Annotation
{
	padding: 1px 0px 2px 3px;
	background-color: #FEFDDF;
	border: solid 1px #EFEEC2;
	overflow: auto;
	font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #6F6F6F;
}
img
{
	border: none;
}
/*
em.Origin
{
	margin: 0;
	padding: 0;
	clear: both;
	display: block;
}
*/
/*
a.Title
{
	color: #015BEE;
	border-bottom: solid 1px #015BEE;
	text-decoration: none;
}
a.Title:hover
{
	color: #015BEE;
	text-decoration: none;
}
*/

/* TODO: drop the commented-out lines */
