/// <copyright company="JetBrains">
/// Copyright Âc 2003-2008 JetBrains s.r.o.
/// You may distribute under the terms of the GNU General Public License, as published by the Free Software Foundation, version 2 (see License.txt in the repository root folder).
/// </copyright>
// Secondary resource script that contains version information
// This information is updated automatically by the build script

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,680,5
 PRODUCTVERSION 2,0,680,5
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e3"
        BEGIN
            VALUE "CompanyName", "JetBrains Inc"
            VALUE "FileDescription", "Omea Internet Explorer AddIn"
            VALUE "FileVersion", "2.0.680.5"
            VALUE "InternalName", "IexploreOmea.dll"
            VALUE "LegalCopyright", "Copyright © JetBrains s.r.o., 2004—2005. All rights reserved."
            VALUE "OriginalFilename", "IexploreOmea.dll"
            VALUE "ProductName", "Omea IE AddIn"
            VALUE "ProductVersion", "2.0.680.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1251
    END
END
