/*
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
*/

BODY {
      background-color:#FFFFFF;
      color:#000000;
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size:0.8em;  }
A:LINK {
        background:transparent;
        border-bottom:1px dashed #666699;
        color:#666699;
        text-decoration:none;  }
A:VISITED {
           background:transparent;
           border-bottom:1px dashed #000066;
           color:#000066;
           text-decoration:none;  }
A:HOVER {
         background:transparent;
         border-bottom:none;
         color:#0099FF;
         text-decoration:underline;  }
#helpHeader {
             background-color:#EEEEEE;
             background-image:url(images/grad1.gif);
             background-position:top;
             background-repeat:repeat-x;
             border:1px solid #999999;
             color:#666666;
             font-weight:bold;
             padding:6px;  }
#mainContent {
              border-bottom:1px dashed #999999;
              margin:1em 4em 8px 4em;
              padding-bottom:12px;  }
#footer {
         background-color:transparent;
         color:#999999;
         font-size:10px;
         font-weight:normal;
         margin:2px 4em 2em 5em;  }
DIV.tip {
         border-bottom:1px dashed #999999;
         border-top:1px dashed #999999;
         margin:12px 8em 12px 4em;
         padding:6px 6px 6px 12px;
         background-color:#FFFFCC;
         background-image:url("images/tip.gif");
         background-position:left;
         background-repeat:no-repeat;  }
DIV.note {
          border-bottom:1px dashed #999999;
          border-top:1px dashed #999999;
          margin:12px 8em 12px 4em;
          padding:6px 6px 6px 12px;
          background-color:#EEEEEE;
          background-image:url("images/note.gif");
          background-position:left;
          background-repeat:no-repeat;  }
DIV.noteImg {
             float:left;
             width:42px;  }
P {
   margin:0 0 8px 0;  }
P.helpHeader {
              display:inline;
              font-size:1.25em;
              margin:0;
              padding-bottom:12px;  }
P.tip {
       padding:0 2em 0 5em;
       color:#333300;
       background:transparent;  }
P.note {
        padding:0 2em 0 5em;
        color:#003366;
        background:transparent;  }
P.caption {
           font-size:0.75em;
           font-weight:bold;
           margin:6px 12px 0 12px;  }
H1 {
    background:transparent;
    color:#667F99;
    font-weight:bold;
    font-size:1.75em;
    margin:1em 0 6px -1em;  }
H2 {
    background:transparent;
    color:#667F99;
    font-weight:bold;
    font-size:1.5em;
    margin:12px 0 2px 0;  }
H3 {
    background:transparent;
    color:#667F99;
    font-weight:bold;
    font-size:1.0em;
    margin:12px 0 2px 0;  }
H4 {
    background:transparent;
    color:#667F99;
    font-weight:normal;
    font-size:1.0em;
    font-style:italic;
    margin:12px 0 2px 0;  }
UL {
    margin:0 2em 6px 2.5em;  }
OL {
    margin:0 2em 6px 3em;  }
UL.indent {
           margin:0 2em 0 3em;  }
LI {
    list-style-position:outside;
    padding-bottom:4px;  }
LI.omguy {
          list-style-image:url("images/omguy_12x12.gif");
          list-style-position:outside;
          list-style-type:square;
          padding-bottom:4px;  }
LI.indentb {
            list-style-type:circle;
            padding-bottom:0;
            padding-top:4px;  }
IMG {
     margin:12px 12px 0 12px;  }
IMG.inline {
            display:inline;
            margin:0 12px 0 4px;  }
