<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Name="IexploreJetPlugin Cleanup" Id="E8B13725-9550-498e-BA44-568D244D471C" Language="1033" Codepage="1252" Version="1.0.0" Manufacturer="JetBrains Inc" UpgradeCode="F068DFF5-5234-4475-BB88-F5D215AA4543">
		<Package Id="????????-????-????-????-????????????" Keywords="Installer" Description="Cleans up the Registry entries left from the IexploreJetPlugin component." Comments="Cleans up the Registry entries left from the IexploreJetPlugin component." Manufacturer="JetBrains Inc" InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
		<Media Id="1" Cabinet="Data.cab" EmbedCab="yes" DiskPrompt="Installation Package" />
		<Property Id="ARPSYSTEMCOMPONENT">1</Property>
		<Property Id="DiskPrompt" Value="IexploreJetPlugin Registry Cleanup" />
		<Feature Id="Complete" Title="Registry Entries" Description="IexploreJetPlugin Registry Entries" Display="expand" Level="1">
			<ComponentRef Id="RegistryValues" />
		</Feature>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Component Id="RegistryValues" DiskId="1">
				<Registry Id="registry0" Root="HKLM" Key="SOFTWARE\Microsoft\Internet Explorer\Toolbar" Name="{35402C00-1777-4159-9ABA-3480BA70D90A}" Action="remove" />
				<Registry Id="registry1" Root="HKLM" Key="SOFTWARE\Microsoft\Internet Explorer\Toolbar" Name="{35402C00-1777-4159-9ABA-3480BA70D90B}" Action="remove" />
				<Registry Id="registry2" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{09628AAA-66AD-4FA2-82E2-698185B66463}" Action="remove" />
				<Registry Id="registry3" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}" Action="remove" />
				<Registry Id="registry4" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}" Name="AppID" Action="remove" />
				<Registry Id="registry5" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\InprocServer32" Action="remove" />
				<Registry Id="registry6" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry7" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\ProgID" Action="remove" />
				<Registry Id="registry8" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\Programmable" Action="remove" />
				<Registry Id="registry9" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\TypeLib" Action="remove" />
				<Registry Id="registry10" Root="HKCR" Key="CLSID\{09628AAA-66AD-4FA2-82E2-698185B66463}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry11" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}" Action="remove" />
				<Registry Id="registry12" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}" Name="AppID" Action="remove" />
				<Registry Id="registry13" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\InprocServer32" Action="remove" />
				<Registry Id="registry14" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry15" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\ProgID" Action="remove" />
				<Registry Id="registry16" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\Programmable" Action="remove" />
				<Registry Id="registry17" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\TypeLib" Action="remove" />
				<Registry Id="registry18" Root="HKCR" Key="CLSID\{0B312F99-836C-44EB-8F2D-CB23598A20C8}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry19" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}" Action="remove" />
				<Registry Id="registry20" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}" Name="AppID" Action="remove" />
				<Registry Id="registry21" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\InprocServer32" Action="remove" />
				<Registry Id="registry22" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry23" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\ProgID" Action="remove" />
				<Registry Id="registry24" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\Programmable" Action="remove" />
				<Registry Id="registry25" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\TypeLib" Action="remove" />
				<Registry Id="registry26" Root="HKCR" Key="CLSID\{290EC1D6-9E54-4C31-BFFC-29D5EA710990}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry27" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}" Action="remove" />
				<Registry Id="registry28" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}" Name="AppID" Action="remove" />
				<Registry Id="registry29" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\InprocServer32" Action="remove" />
				<Registry Id="registry30" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry31" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\ProgID" Action="remove" />
				<Registry Id="registry32" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\Programmable" Action="remove" />
				<Registry Id="registry33" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\TypeLib" Action="remove" />
				<Registry Id="registry34" Root="HKCR" Key="CLSID\{4130B262-A577-44c9-A8D2-D59EA8824C40}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry35" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}" Action="remove" />
				<Registry Id="registry36" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}" Name="AppID" Action="remove" />
				<Registry Id="registry37" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\InprocServer32" Action="remove" />
				<Registry Id="registry38" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry39" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\ProgID" Action="remove" />
				<Registry Id="registry40" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\Programmable" Action="remove" />
				<Registry Id="registry41" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\TypeLib" Action="remove" />
				<Registry Id="registry42" Root="HKCR" Key="CLSID\{59D82ABA-4751-4CE3-8212-468CF170501F}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry43" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}" Action="remove" />
				<Registry Id="registry44" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}" Name="AppID" Action="remove" />
				<Registry Id="registry45" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\InprocServer32" Action="remove" />
				<Registry Id="registry46" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry47" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\ProgID" Action="remove" />
				<Registry Id="registry48" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\Programmable" Action="remove" />
				<Registry Id="registry49" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\TypeLib" Action="remove" />
				<Registry Id="registry50" Root="HKCR" Key="CLSID\{6EDCCE69-14A2-4E9F-826B-DC523B82167E}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry51" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}" Action="remove" />
				<Registry Id="registry52" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}" Name="AppID" Action="remove" />
				<Registry Id="registry53" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\InprocServer32" Action="remove" />
				<Registry Id="registry54" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry55" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\ProgID" Action="remove" />
				<Registry Id="registry56" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\Programmable" Action="remove" />
				<Registry Id="registry57" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\TypeLib" Action="remove" />
				<Registry Id="registry58" Root="HKCR" Key="CLSID\{B544FBB7-D637-44ED-935E-77592B7C33FD}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry59" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}" Action="remove" />
				<Registry Id="registry60" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}" Name="AppID" Action="remove" />
				<Registry Id="registry61" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" Action="remove" />
				<Registry Id="registry62" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\InprocServer32" Action="remove" />
				<Registry Id="registry63" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\InprocServer32" Name="ThreadingModel" Action="remove" />
				<Registry Id="registry64" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\ProgID" Action="remove" />
				<Registry Id="registry65" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\Programmable" Action="remove" />
				<Registry Id="registry66" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\TypeLib" Action="remove" />
				<Registry Id="registry67" Root="HKCR" Key="CLSID\{D0BE79E9-DDCA-4CA8-AFE2-CC856B6A3D0D}\VersionIndependentProgID" Action="remove" />
				<Registry Id="registry68" Root="HKCR" Key="IexploreJetPlugin.ActionManager" Action="remove" />
				<Registry Id="registry69" Root="HKCR" Key="IexploreJetPlugin.ActionManager\CLSID" Action="remove" />
				<Registry Id="registry70" Root="HKCR" Key="IexploreJetPlugin.ActionManager\CurVer" Action="remove" />
				<Registry Id="registry71" Root="HKCR" Key="IexploreJetPlugin.ActionManager.1" Action="remove" />
				<Registry Id="registry72" Root="HKCR" Key="IexploreJetPlugin.ActionManager.1\CLSID" Action="remove" />
				<Registry Id="registry73" Root="HKCR" Key="IexploreJetPlugin.Band" Action="remove" />
				<Registry Id="registry74" Root="HKCR" Key="IexploreJetPlugin.Band\CLSID" Action="remove" />
				<Registry Id="registry75" Root="HKCR" Key="IexploreJetPlugin.Band\CurVer" Action="remove" />
				<Registry Id="registry76" Root="HKCR" Key="IexploreJetPlugin.Band.1" Action="remove" />
				<Registry Id="registry77" Root="HKCR" Key="IexploreJetPlugin.Band.1\CLSID" Action="remove" />
				<Registry Id="registry78" Root="HKCR" Key="IexploreJetPlugin.Helper" Action="remove" />
				<Registry Id="registry79" Root="HKCR" Key="IexploreJetPlugin.Helper\CLSID" Action="remove" />
				<Registry Id="registry80" Root="HKCR" Key="IexploreJetPlugin.Helper\CurVer" Action="remove" />
				<Registry Id="registry81" Root="HKCR" Key="IexploreJetPlugin.Helper.1" Action="remove" />
				<Registry Id="registry82" Root="HKCR" Key="IexploreJetPlugin.Helper.1\CLSID" Action="remove" />
				<Registry Id="registry83" Root="HKCR" Key="IexploreJetPlugin.MainToolbarButton" Action="remove" />
				<Registry Id="registry84" Root="HKCR" Key="IexploreJetPlugin.MainToolbarButton\CLSID" Action="remove" />
				<Registry Id="registry85" Root="HKCR" Key="IexploreJetPlugin.MainToolbarButton\CurVer" Action="remove" />
				<Registry Id="registry86" Root="HKCR" Key="IexploreJetPlugin.MainToolbarButton.1" Action="remove" />
				<Registry Id="registry87" Root="HKCR" Key="IexploreJetPlugin.MainToolbarButton.1\CLSID" Action="remove" />
				<Registry Id="registry88" Root="HKCR" Key="IexploreJetPlugin.PopupNotification" Action="remove" />
				<Registry Id="registry89" Root="HKCR" Key="IexploreJetPlugin.PopupNotification\CLSID" Action="remove" />
				<Registry Id="registry90" Root="HKCR" Key="IexploreJetPlugin.PopupNotification\CurVer" Action="remove" />
				<Registry Id="registry91" Root="HKCR" Key="IexploreJetPlugin.PopupNotification.1" Action="remove" />
				<Registry Id="registry92" Root="HKCR" Key="IexploreJetPlugin.PopupNotification.1\CLSID" Action="remove" />
				<Registry Id="registry93" Root="HKCR" Key="IexploreJetPlugin.Request" Action="remove" />
				<Registry Id="registry94" Root="HKCR" Key="IexploreJetPlugin.Request\CLSID" Action="remove" />
				<Registry Id="registry95" Root="HKCR" Key="IexploreJetPlugin.Request\CurVer" Action="remove" />
				<Registry Id="registry96" Root="HKCR" Key="IexploreJetPlugin.Request.1" Action="remove" />
				<Registry Id="registry97" Root="HKCR" Key="IexploreJetPlugin.Request.1\CLSID" Action="remove" />
				<Registry Id="registry98" Root="HKCR" Key="Interface\{006B50A5-A45A-4E88-9845-FAB8713F132A}" Action="remove" />
				<Registry Id="registry99" Root="HKCR" Key="Interface\{006B50A5-A45A-4E88-9845-FAB8713F132A}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry100" Root="HKCR" Key="Interface\{006B50A5-A45A-4E88-9845-FAB8713F132A}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry101" Root="HKCR" Key="Interface\{006B50A5-A45A-4E88-9845-FAB8713F132A}\TypeLib" Action="remove" />
				<Registry Id="registry102" Root="HKCR" Key="Interface\{006B50A5-A45A-4E88-9845-FAB8713F132A}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry103" Root="HKCR" Key="Interface\{0D7A81D2-1A59-4784-8EE1-CF193C46BEFB}" Action="remove" />
				<Registry Id="registry104" Root="HKCR" Key="Interface\{0D7A81D2-1A59-4784-8EE1-CF193C46BEFB}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry105" Root="HKCR" Key="Interface\{0D7A81D2-1A59-4784-8EE1-CF193C46BEFB}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry106" Root="HKCR" Key="Interface\{0D7A81D2-1A59-4784-8EE1-CF193C46BEFB}\TypeLib" Action="remove" />
				<Registry Id="registry107" Root="HKCR" Key="Interface\{0D7A81D2-1A59-4784-8EE1-CF193C46BEFB}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry108" Root="HKCR" Key="Interface\{1B9E5D4D-D57B-47B7-81D4-BFC17BCDED03}" Action="remove" />
				<Registry Id="registry109" Root="HKCR" Key="Interface\{1B9E5D4D-D57B-47B7-81D4-BFC17BCDED03}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry110" Root="HKCR" Key="Interface\{1B9E5D4D-D57B-47B7-81D4-BFC17BCDED03}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry111" Root="HKCR" Key="Interface\{1B9E5D4D-D57B-47B7-81D4-BFC17BCDED03}\TypeLib" Action="remove" />
				<Registry Id="registry112" Root="HKCR" Key="Interface\{1B9E5D4D-D57B-47B7-81D4-BFC17BCDED03}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry113" Root="HKCR" Key="Interface\{1B9E5D4E-D57B-47B7-81D4-BFC17BCDED03}" Action="remove" />
				<Registry Id="registry114" Root="HKCR" Key="Interface\{1B9E5D4E-D57B-47B7-81D4-BFC17BCDED03}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry115" Root="HKCR" Key="Interface\{1B9E5D4E-D57B-47B7-81D4-BFC17BCDED03}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry116" Root="HKCR" Key="Interface\{1B9E5D4E-D57B-47B7-81D4-BFC17BCDED03}\TypeLib" Action="remove" />
				<Registry Id="registry117" Root="HKCR" Key="Interface\{1B9E5D4E-D57B-47B7-81D4-BFC17BCDED03}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry118" Root="HKCR" Key="Interface\{2C5AF886-B545-4D3D-82B1-5B1AE2422842}" Action="remove" />
				<Registry Id="registry119" Root="HKCR" Key="Interface\{2C5AF886-B545-4D3D-82B1-5B1AE2422842}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry120" Root="HKCR" Key="Interface\{2C5AF886-B545-4D3D-82B1-5B1AE2422842}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry121" Root="HKCR" Key="Interface\{2C5AF886-B545-4D3D-82B1-5B1AE2422842}\TypeLib" Action="remove" />
				<Registry Id="registry122" Root="HKCR" Key="Interface\{2C5AF886-B545-4D3D-82B1-5B1AE2422842}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry123" Root="HKCR" Key="Interface\{52E5BB44-CA25-492A-A52D-0944CC166AE9}" Action="remove" />
				<Registry Id="registry124" Root="HKCR" Key="Interface\{52E5BB44-CA25-492A-A52D-0944CC166AE9}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry125" Root="HKCR" Key="Interface\{52E5BB44-CA25-492A-A52D-0944CC166AE9}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry126" Root="HKCR" Key="Interface\{52E5BB44-CA25-492A-A52D-0944CC166AE9}\TypeLib" Action="remove" />
				<Registry Id="registry127" Root="HKCR" Key="Interface\{52E5BB44-CA25-492A-A52D-0944CC166AE9}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry128" Root="HKCR" Key="Interface\{53C0C5A0-FC63-49BA-B640-606F1F61CECE}" Action="remove" />
				<Registry Id="registry129" Root="HKCR" Key="Interface\{53C0C5A0-FC63-49BA-B640-606F1F61CECE}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry130" Root="HKCR" Key="Interface\{53C0C5A0-FC63-49BA-B640-606F1F61CECE}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry131" Root="HKCR" Key="Interface\{53C0C5A0-FC63-49BA-B640-606F1F61CECE}\TypeLib" Action="remove" />
				<Registry Id="registry132" Root="HKCR" Key="Interface\{53C0C5A0-FC63-49BA-B640-606F1F61CECE}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry133" Root="HKCR" Key="Interface\{6D732D83-793C-4E78-BFA4-A3D0A3EE3E31}" Action="remove" />
				<Registry Id="registry134" Root="HKCR" Key="Interface\{6D732D83-793C-4E78-BFA4-A3D0A3EE3E31}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry135" Root="HKCR" Key="Interface\{6D732D83-793C-4E78-BFA4-A3D0A3EE3E31}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry136" Root="HKCR" Key="Interface\{6D732D83-793C-4E78-BFA4-A3D0A3EE3E31}\TypeLib" Action="remove" />
				<Registry Id="registry137" Root="HKCR" Key="Interface\{6D732D83-793C-4E78-BFA4-A3D0A3EE3E31}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry138" Root="HKCR" Key="Interface\{BC3BC397-B29E-498C-BFB4-17E8E7D0FA43}" Action="remove" />
				<Registry Id="registry139" Root="HKCR" Key="Interface\{BC3BC397-B29E-498C-BFB4-17E8E7D0FA43}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry140" Root="HKCR" Key="Interface\{BC3BC397-B29E-498C-BFB4-17E8E7D0FA43}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry141" Root="HKCR" Key="Interface\{BC3BC397-B29E-498C-BFB4-17E8E7D0FA43}\TypeLib" Action="remove" />
				<Registry Id="registry142" Root="HKCR" Key="Interface\{BC3BC397-B29E-498C-BFB4-17E8E7D0FA43}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry143" Root="HKCR" Key="Interface\{CD7B82DF-47C5-4C01-A1EF-159184707A76}" Action="remove" />
				<Registry Id="registry144" Root="HKCR" Key="Interface\{CD7B82DF-47C5-4C01-A1EF-159184707A76}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry145" Root="HKCR" Key="Interface\{CD7B82DF-47C5-4C01-A1EF-159184707A76}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry146" Root="HKCR" Key="Interface\{CD7B82DF-47C5-4C01-A1EF-159184707A76}\TypeLib" Action="remove" />
				<Registry Id="registry147" Root="HKCR" Key="Interface\{CD7B82DF-47C5-4C01-A1EF-159184707A76}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry148" Root="HKCR" Key="Interface\{E2D79867-BF7D-4EA1-9243-AF56BA0C0F94}" Action="remove" />
				<Registry Id="registry149" Root="HKCR" Key="Interface\{E2D79867-BF7D-4EA1-9243-AF56BA0C0F94}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry150" Root="HKCR" Key="Interface\{E2D79867-BF7D-4EA1-9243-AF56BA0C0F94}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry151" Root="HKCR" Key="Interface\{E2D79867-BF7D-4EA1-9243-AF56BA0C0F94}\TypeLib" Action="remove" />
				<Registry Id="registry152" Root="HKCR" Key="Interface\{E2D79867-BF7D-4EA1-9243-AF56BA0C0F94}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry153" Root="HKCR" Key="Interface\{EF07FE2E-8F17-4DFA-9716-4F39023B744C}" Action="remove" />
				<Registry Id="registry154" Root="HKCR" Key="Interface\{EF07FE2E-8F17-4DFA-9716-4F39023B744C}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry155" Root="HKCR" Key="Interface\{EF07FE2E-8F17-4DFA-9716-4F39023B744C}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry156" Root="HKCR" Key="Interface\{EF07FE2E-8F17-4DFA-9716-4F39023B744C}\TypeLib" Action="remove" />
				<Registry Id="registry157" Root="HKCR" Key="Interface\{EF07FE2E-8F17-4DFA-9716-4F39023B744C}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry158" Root="HKCR" Key="Interface\{EFCD76EE-171D-41B6-82E0-1A601F4BD34E}" Action="remove" />
				<Registry Id="registry159" Root="HKCR" Key="Interface\{EFCD76EE-171D-41B6-82E0-1A601F4BD34E}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry160" Root="HKCR" Key="Interface\{EFCD76EE-171D-41B6-82E0-1A601F4BD34E}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry161" Root="HKCR" Key="Interface\{EFCD76EE-171D-41B6-82E0-1A601F4BD34E}\TypeLib" Action="remove" />
				<Registry Id="registry162" Root="HKCR" Key="Interface\{EFCD76EE-171D-41B6-82E0-1A601F4BD34E}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry163" Root="HKCR" Key="Interface\{F10F7249-69C7-4EA6-A5A1-1949F903EBED}" Action="remove" />
				<Registry Id="registry164" Root="HKCR" Key="Interface\{F10F7249-69C7-4EA6-A5A1-1949F903EBED}\ProxyStubClsid" Action="remove" />
				<Registry Id="registry165" Root="HKCR" Key="Interface\{F10F7249-69C7-4EA6-A5A1-1949F903EBED}\ProxyStubClsid32" Action="remove" />
				<Registry Id="registry166" Root="HKCR" Key="Interface\{F10F7249-69C7-4EA6-A5A1-1949F903EBED}\TypeLib" Action="remove" />
				<Registry Id="registry167" Root="HKCR" Key="Interface\{F10F7249-69C7-4EA6-A5A1-1949F903EBED}\TypeLib" Name="Version" Action="remove" />
				<Registry Id="registry168" Root="HKCR" Key="JetRating.Client" Action="remove" />
				<Registry Id="registry169" Root="HKCR" Key="JetRating.Client\CLSID" Action="remove" />
				<Registry Id="registry170" Root="HKCR" Key="JetRating.Client\CurVer" Action="remove" />
				<Registry Id="registry171" Root="HKCR" Key="JetRating.Client.1" Action="remove" />
				<Registry Id="registry172" Root="HKCR" Key="JetRating.Client.1\CLSID" Action="remove" />
				<Registry Id="registry173" Root="HKCR" Key="Omea.Application" Action="remove" />
				<Registry Id="registry174" Root="HKCR" Key="Omea.Application\CLSID" Action="remove" />
				<Registry Id="registry175" Root="HKCR" Key="Omea.Application\CurVer" Action="remove" />
				<Registry Id="registry176" Root="HKCR" Key="Omea.Application.1" Action="remove" />
				<Registry Id="registry177" Root="HKCR" Key="Omea.Application.1\CLSID" Action="remove" />
				<Registry Id="registry178" Root="HKCR" Key="TypeLib\{633820F7-C04E-4152-B64F-1147B881F998}\1.0" Action="remove" />
				<Registry Id="registry179" Root="HKCR" Key="TypeLib\{633820F7-C04E-4152-B64F-1147B881F998}\1.0\0\win32" Action="remove" />
				<Registry Id="registry180" Root="HKCR" Key="TypeLib\{633820F7-C04E-4152-B64F-1147B881F998}\1.0\FLAGS" Action="remove" />
				<Registry Id="registry181" Root="HKCR" Key="TypeLib\{633820F7-C04E-4152-B64F-1147B881F998}\1.0\HELPDIR" Action="remove" />
				<Registry Id="registry182" Root="HKCU" Key="SOFTWARE\Microsoft\Internet Explorer\MenuExt" Action="remove" />
			</Component>
		</Directory>
	</Product>
</Wix>
