<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2003-2008 JetBrains s.r.o.

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include StdAfx.wxi ?>
	<!---->
	<!---->
	<!-- A feature that mounts the binaries' components into the feature tree. -->
	<Fragment Id="G.Omea.Files">
		<ComponentGroup Id="U.Omea.Files"></ComponentGroup>
		<?define OmeaFilesDiskId=2 ?>
		<Media Id="$(var.OmeaFilesDiskId)" Cabinet="Omea.Files.cab" EmbedCab="yes" DiskPrompt="Omea files cabinet" />
	</Fragment>
	<!---->
	<!---->
	<!-- The binaries' components. -->
	<!-- There should be one component per dll, don't forget to gen a new guid. -->
	<Fragment Id="G.Omea.Files.Directory">
		<DirectoryRef Id="D.ProductBinaries.Placeholder"></DirectoryRef>
	</Fragment>
</Wix>
