<?xml version="1.0" encoding="utf-8"?>
<!--
  <copyright company="JetBrains">
  Copyright © 2003-2008 JetBrains s.r.o.
  You may distribute under the terms of the GNU General Public License, as published by the Free Software Foundation, version 2 (see License.txt in the repository root folder).
  </copyright>
-->
<omniamea-plugin>
	<resource-icons namespace="ICQPlugin.Icons">
		<icon type="ICQAccount" name="contact.ico" />
		<icon type="ICQConversation" name="conversation4.ico" />
	</resource-icons>
	<actions namespace="JetBrains.Omea.InstantMessaging.ICQ">
		<main-menu>
			<group id="IMRebuildActions" menu="File" anchor="after:FileImportActions">
				<action name="Rebuild ICQ Conversations..." class="RebuildConversationsAction" />
			</group>
		</main-menu>
		<popup-menu>
			<group id="ItemModifyActions">
				<action name="Rebuild ICQ Conversations..." class="RebuildConversationsAction" />
			</group>
		</popup-menu>
		<link-click>
			<action type="ICQAccount" class="ICQAccountClickAction" />
		</link-click>
	</actions>
	<display-columns>
		<columns type="Email">
			<column width="300" autoSize="1">
				<prop name="Subject" />
				<multiline row="1" startX="0" width="240" anchor="both" />
				<comparer assembly="ResourceTools" class="JetBrains.Omea.ResourceTools.SubjectComparer" />
			</column>
		</columns>
	</display-columns>
</omniamea-plugin>